@import '@/styles/variables.scss';
.prescription-details {
    background-color: $bgSub;
    .prescription-details-list {
        padding: 10px;
        background-color: $bgWhite;
        border-bottom: 1px solid $borderColor;
        margin: 10px 0;
        font-size: 0.6rem;
        &:first-child{
            margin-top: 0;
        }

        .el-col > div {
            margin-bottom: 5px;  
            &:last-child{
                margin-bottom: 0;
            }  
        }

        label {
            margin-right: 5px;
        }



    }

    .mint-search-list {
        padding-top: 96px;
    }
    
}