@import '@/styles/variables.scss';
.login {
    .login-title {
        font-family: PingFangSC-Medium;
        font-size: 1.5rem;
        color: $fontColor333;
        text-align: center;
        margin: 80px 0 30px 0;
    }
    
    .login-form {
        width: 80%;
        margin: 0 auto;
        .login-img {
            height: 24px;
        }

        .login-code-btn {
            border-radius: 5px;
        }
    }

   
}